<app-nav-bar></app-nav-bar>
<div class="container align-center">
  <h1>
    Welcome to Assigment-{{title}}!
  </h1>
  <img width="250" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <div class="row">
    <form (ngSubmit)="parseInput(countryCode.value, userInput)">
            <md-select placeholder="Select Country Code" [(ngModel)]="countryCode.value" name="countryCode" required>
              <md-option *ngFor="let codeValues of countryCode" [value]="codeValues.value" required>
                {{codeValues.viewValue}}
              </md-option>
            </md-select>
          <md-input-container>
            <input class="font-size" mdInput placeholder="Phone Number" type="number" [(ngModel)]="userInput" name="phoneNumber" required>
          </md-input-container>
        <button md-raised-button color="primary" type="submit">SUBMIT</button>
    </form>
  </div>

  <div class="row" *ngIf="finalizedOperator">
      <h4 class="primary-text-color">Selected Operator #{{finalizedOperator.operatorId}}, Price: ${{finalizedOperator.operatorPrice}}</h4>
  </div>

  <div class="row" *ngIf="showError">
      <h4 class="red-text-color">Please Enter the Required Details</h4>
    </div>

</div>